<h1>Page: {{ title }}</h1>

<div>
  <p [id]="sayHelloId" [style.color]="fontColor">
    You can set my color in the component! {{ canClick ? "ON" : "OFF" }}
  </p>

  <button type="button" (click)="toggleClick()">Trigger Toggle Click</button>

  <div *ngIf="canClick; else noEdit">
    <p>{{ messenger }}</p>
  </div>
</div>

<ng-template #noEdit>
  <p>The following paragraph is read only. Try click the button!</p>
</ng-template>

<p [contentEditable]="canClick">{{ messenger }}</p>

<button (click)="onLogMe()">Log Me</button>
